force-app/main/default/flows/VMQS_Authenticated_Sign_Up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <decisions>
        <name>Decision_Shifts_Available</name>
        <label>Shifts Available?</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <defaultConnector><targetReference>Screen_No_Shifts</targetReference></defaultConnector>
        <defaultConnectorLabel>No Shifts</defaultConnectorLabel>
        <rules>
            <name>outcome_ShiftsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colShifts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector><targetReference>Screen_Select_Shift</targetReference></connector>
            <label>Has Shifts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Already_Signed_Up</name>
        <label>Already Signed Up?</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <defaultConnector><targetReference>Get_Shift_Capacity</targetReference></defaultConnector>
        <defaultConnectorLabel>Not Signed Up</defaultConnectorLabel>
        <rules>
            <name>outcome_AlreadySignedUp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recExistingAssignment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector><targetReference>Screen_Already_Signed_Up</targetReference></connector>
            <label>Already Signed Up</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Capacity_Check</name>
        <label>Capacity Available?</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <defaultConnector><targetReference>Screen_At_Capacity</targetReference></defaultConnector>
        <defaultConnectorLabel>At Capacity</defaultConnectorLabel>
        <rules>
            <name>outcome_HasCapacity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recSelectedShift.RemainingCapacity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue><numberValue>0</numberValue></rightValue>
            </conditions>
            <connector><targetReference>Create_Assignment</targetReference></connector>
            <label>Has Capacity</label>
        </rules>
    </decisions>
    <description>Allows authenticated portal volunteers to browse available shifts and sign up. Uses the logged-in user&apos;s Contact ID to create the JobPositionAssignment. Enforces shift capacity.</description>
    <dynamicChoiceSets>
        <name>choiceInitiatives</name>
        <collectionReference>colInitiatives</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>VolunteerInitiative</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceShifts</name>
        <collectionReference>colShifts</collectionReference>
        <dataType>String</dataType>
        <displayField>Start_and_End_DateTime__c</displayField>
        <object>JobPositionShift</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>VMQS Authenticated Sign Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VMQS - Authenticated Volunteer Sign Up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assignment</name>
        <label>Create Assignment</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <connector><targetReference>Screen_Confirmation</targetReference></connector>
        <inputAssignments>
            <field>AssignedContactId</field>
            <value><elementReference>$User.ContactId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignedPositionShiftId</field>
            <value><elementReference>pick_Shift</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedVolunteerInitiativeId</field>
            <value><elementReference>pick_Initiative</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value><stringValue>Upcoming</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>DoesCountTowardShiftCapacity</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
        <object>JobPositionAssignment</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Initiatives</name>
        <label>Get Active Initiatives</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Screen_Select_Initiative</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>IsPublished</field>
            <operator>EqualTo</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value><stringValue>In Progress</stringValue></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VolunteerInitiative</object>
        <outputReference>colInitiatives</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Available_Shifts</name>
        <label>Get Available Shifts</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Decision_Shifts_Available</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>JobPositionId</field>
            <operator>EqualTo</operator>
            <value><elementReference>pick_Initiative</elementReference></value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value><stringValue>In Progress</stringValue></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobPositionShift</object>
        <outputReference>colShifts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>StartTime</queriedFields>
        <queriedFields>EndTime</queriedFields>
        <queriedFields>RemainingCapacity</queriedFields>
        <queriedFields>Start_and_End_DateTime__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Assignment</name>
        <label>Check Existing Assignment</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Decision_Already_Signed_Up</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>AssignedContactId</field>
            <operator>EqualTo</operator>
            <value><elementReference>$User.ContactId</elementReference></value>
        </filters>
        <filters>
            <field>AssignedPositionShiftId</field>
            <operator>EqualTo</operator>
            <value><elementReference>pick_Shift</elementReference></value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value><stringValue>Canceled</stringValue></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPositionAssignment</object>
        <outputReference>recExistingAssignment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Shift_Capacity</name>
        <label>Get Shift Remaining Capacity</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Decision_Capacity_Check</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>pick_Shift</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPositionShift</object>
        <outputReference>recSelectedShift</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RemainingCapacity</queriedFields>
        <queriedFields>MaximumAttendeesCount</queriedFields>
    </recordLookups>
    <screens>
        <name>Screen_Select_Initiative</name>
        <label>Select an Event</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector><targetReference>Get_Available_Shifts</targetReference></connector>
        <fields>
            <name>txt_SelectInitiativeHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Available Volunteer Events&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Select an event to view available shifts.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pick_Initiative</name>
            <choiceReferences>choiceInitiatives</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Event</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_No_Shifts</name>
        <label>No Shifts Available</label>
        <locationX>396</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_NoShifts</name>
            <fieldText>&lt;p&gt;There are no shifts with available capacity for this event. Please check back later or select a different event.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Shift</name>
        <label>Select a Shift</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector><targetReference>Get_Existing_Assignment</targetReference></connector>
        <fields>
            <name>txt_SelectShiftHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Available Shifts&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Select the shift you&apos;d like to volunteer for.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pick_Shift</name>
            <choiceReferences>choiceShifts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Shift</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Already_Signed_Up</name>
        <label>Already Signed Up</label>
        <locationX>396</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_AlreadySignedUp</name>
            <fieldText>&lt;p&gt;You&apos;re already signed up for this shift. To make changes, please visit My Shifts.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_At_Capacity</name>
        <label>Shift Full</label>
        <locationX>396</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_AtCapacity</name>
            <fieldText>&lt;p&gt;This shift is now full. Please go back and select a different shift.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Confirmation</name>
        <label>You&apos;re Signed Up!</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;You&apos;re signed up!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Your shift has been confirmed. You can view or cancel your upcoming shifts from the My Shifts page.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Get_Active_Initiatives</targetReference></connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colInitiatives</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VolunteerInitiative</objectType>
    </variables>
    <variables>
        <name>colShifts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionShift</objectType>
    </variables>
    <variables>
        <name>recExistingAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>recSelectedShift</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionShift</objectType>
    </variables>
</Flow>
