force-app/main/default/flows/VMQS_Coordinator_Promote_From_Waitlist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <decisions>
        <name>Decision_Has_Waitlist</name>
        <label>Anyone on Waitlist?</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <defaultConnector><targetReference>Screen_No_Waitlist</targetReference></defaultConnector>
        <defaultConnectorLabel>Empty Waitlist</defaultConnectorLabel>
        <rules>
            <name>outcome_HasWaitlist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colWaitlist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector><targetReference>Screen_Select_Volunteer</targetReference></connector>
            <label>Has Waitlist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Has_Capacity</name>
        <label>Shift Has Capacity?</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <defaultConnector><targetReference>Screen_Still_At_Capacity</targetReference></defaultConnector>
        <defaultConnectorLabel>No Capacity</defaultConnectorLabel>
        <rules>
            <name>outcome_HasCapacity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recShift.RemainingCapacity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue><numberValue>0</numberValue></rightValue>
            </conditions>
            <connector><targetReference>Screen_Confirm_Promote</targetReference></connector>
            <label>Has Capacity</label>
        </rules>
    </decisions>
    <description>Allows coordinators to promote a waitlisted volunteer to an Upcoming assignment on a JobPositionShift. Run as a quick action from the shift record. Shows the ordered waitlist, coordinator selects a volunteer, system promotes and notifies.</description>
    <dynamicChoiceSets>
        <name>choiceWaitlist</name>
        <collectionReference>colWaitlist</collectionReference>
        <dataType>String</dataType>
        <displayField>Waitlist_Position__c</displayField>
        <object>JobPositionAssignment</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>frmPromotionEmailBody</name>
        <dataType>String</dataType>
        <expression>"Hi " &amp; {!recContact.Name} &amp; ", great news! A spot has opened up and you have been moved from the waitlist to a confirmed volunteer assignment for " &amp; {!recShift.Start_and_End_DateTime__c} &amp; ". We look forward to seeing you there! If you have any questions, please contact your volunteer coordinator."</expression>
    </formulas>
    <interviewLabel>VMQS Coordinator Promote From Waitlist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VMQS - Coordinator Promote From Waitlist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>Flow</processType>
    <actionCalls>
        <name>Send_Promotion_Email</name>
        <label>Notify Volunteer of Promotion</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector><targetReference>Screen_Promotion_Confirmed</targetReference></connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value><elementReference>recContact.Email</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value><stringValue>Great news — you&apos;ve been moved off the waitlist!</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value><elementReference>frmPromotionEmailBody</elementReference></value>
        </inputParameters>
    </actionCalls>
    <recordLookups>
        <name>Get_Shift</name>
        <label>Get Shift Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Get_Waitlist</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>varShiftId</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPositionShift</object>
        <outputReference>recShift</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Start_and_End_DateTime__c</queriedFields>
        <queriedFields>RemainingCapacity</queriedFields>
        <queriedFields>MaximumAttendeesCount</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Waitlist</name>
        <label>Get Waitlisted Volunteers</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Decision_Has_Waitlist</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>AssignedPositionShiftId</field>
            <operator>EqualTo</operator>
            <value><elementReference>varShiftId</elementReference></value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value><stringValue>Waitlisted</stringValue></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobPositionAssignment</object>
        <outputReference>colWaitlist</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssignedContactId</queriedFields>
        <queriedFields>Waitlist_Position__c</queriedFields>
        <sortField>Waitlist_Position__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Assignment</name>
        <label>Get Selected Assignment</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Get_Contact</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>pick_WaitlistVolunteer</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPositionAssignment</object>
        <outputReference>recSelectedAssignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssignedContactId</queriedFields>
        <queriedFields>Waitlist_Position__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Volunteer Contact</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Decision_Has_Capacity</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>recSelectedAssignment.AssignedContactId</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <outputReference>recContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Promote_Assignment</name>
        <label>Promote to Upcoming</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <connector><targetReference>Send_Promotion_Email</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>pick_WaitlistVolunteer</elementReference></value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value><stringValue>Upcoming</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>DoesCountTowardShiftCapacity</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Waitlist_Position__c</field>
            <value><numberValue>0</numberValue></value>
        </inputAssignments>
        <object>JobPositionAssignment</object>
    </recordUpdates>
    <screens>
        <name>Screen_No_Waitlist</name>
        <label>No One on Waitlist</label>
        <locationX>396</locationX>
        <locationY>374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_NoWaitlist</name>
            <fieldText>&lt;p&gt;There are no volunteers on the waitlist for this shift.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Volunteer</name>
        <label>Select Volunteer to Promote</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector><targetReference>Get_Selected_Assignment</targetReference></connector>
        <fields>
            <name>txt_SelectVolunteerHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Waitlist for {!recShift.Start_and_End_DateTime__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Volunteers are listed in waitlist order (position number). Select the volunteer you want to promote to a confirmed assignment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pick_WaitlistVolunteer</name>
            <choiceReferences>choiceWaitlist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Waitlist Position</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Still_At_Capacity</name>
        <label>Shift Still at Capacity</label>
        <locationX>396</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_StillAtCapacity</name>
            <fieldText>&lt;p&gt;This shift is still at full capacity. A spot must be cancelled before you can promote someone from the waitlist.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Confirm_Promote</name>
        <label>Confirm Promotion</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector><targetReference>Promote_Assignment</targetReference></connector>
        <fields>
            <name>txt_ConfirmPromote</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Confirm Promotion&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;You are about to promote &lt;strong&gt;{!recContact.Name}&lt;/strong&gt; from the waitlist to a confirmed assignment for {!recShift.Start_and_End_DateTime__c}.&lt;/p&gt;&lt;p&gt;They will receive an email notification. Click Next to confirm, or Back to go back.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Promotion_Confirmed</name>
        <label>Volunteer Promoted</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_PromotionConfirmed</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Done!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!recContact.Name} has been moved to a confirmed assignment and notified by email.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Get_Shift</targetReference></connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varShiftId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recShift</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionShift</objectType>
    </variables>
    <variables>
        <name>colWaitlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>recSelectedAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>recContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
