force-app/main/default/flows/VMQS_Sign_Up_Guest_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Shifts_from_Job_Position</name>
        <label>Add Shifts from Job Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcvar_JobPositionShifts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Job_Position_Shifts_from_Job_Position</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_JP_Assignment_Fields_from_Get_Job_Positon</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Shifts_from_One_JP</name>
        <label>Add Shifts from One JP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcvar_JobPositionShifts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Job_Position_Shift_from_Volunteer_Initiative_One_JP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_JP_Assignment_Fields_from_Single_Job_Position</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Shifts_from_Two_Plus_JP</name>
        <label>Add Shifts from Two Plus JP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcvar_JobPositionShifts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Job_Position_Shift_from_Volunteer_Initiative_Two_Plus_JP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_JP_Assignment_Fields_from_Single_Two_Plus_JP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the number of Job Positions.</description>
        <name>Assign_Job_Position_Count</name>
        <label>Assign Job Position Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_JobPositionCountFromVolunteerInitative</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Job_Positions_from_Volunteer_Initiative</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Job_Positions_Returned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_JP_Assignment_Fields_from_Get_Job_Position_Shift</name>
        <label>Assign JP Assignment Fields from Get Job Position Shift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.JobPositionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job_Position_Shift.JobPositionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.RelatedVolunteerInitiativeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job_Position_Shift.JobPosition.VolunteerInitiativeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.AssignedPositionShiftId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job_Position_Shift.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Job_Position_Shifts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_JP_Assignment_Fields_from_Get_Job_Positon</name>
        <label>Assign JP Assignment Fields from Get Job Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_JPAssignmnet_ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job_Position.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JPAssignment_ActualDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job_Position.Default_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.JobPositionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job_Position.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.RelatedVolunteerInitiativeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job_Position.VolunteerInitiativeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Job_Position_Shifts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_JP_Assignment_Fields_from_Single_Job_Position</name>
        <label>Assign JP Assignment Fields from Single Job Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_JPAssignmnet_ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Single_Job_Position_from_Volunteer_Initiative.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JPAssignment_ActualDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Single_Job_Position_from_Volunteer_Initiative.Default_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.JobPositionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Single_Job_Position_from_Volunteer_Initiative.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.RelatedVolunteerInitiativeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Initiative.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Job_Position_Shifts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_JP_Assignment_Fields_from_Single_Two_Plus_JP</name>
        <label>Assign JP Assignment Fields from Single Two Plus JP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_JPAssignmnet_ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Job_Position_from_Volunteer_Initiative.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JPAssignment_ActualDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Job_Position_from_Volunteer_Initiative.Default_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.JobPositionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_would_you_like_to_help</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.RelatedVolunteerInitiativeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Initiative.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Job_Position_Shifts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_JP_Assignment_Fields_from_Volunteer_Initiative</name>
        <label>Assign JP Assignment Fields from Volunteer Initiative</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_JPAssignmnet_ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Initiative.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JPAssignment_ActualDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Initiative.Default_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.RelatedVolunteerInitiativeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Initiative.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.ScheduledStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Volunteer_Initiative.StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Job_Position_Shifts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>There is an triggered flow to run on create of a J.P. Assignment to update or create a Person Account based on the information placed on these fields. This is due to the guest user not having any access to any Account Records.</description>
        <name>Assign_Shift_to_J_P_Assignment</name>
        <label>Assign Shift to J.P. Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_JPAssignment_ScheduledStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.ActualDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_JobPositionShift.Default_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.ScheduledStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_JPAssignment_ScheduledStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_JPAssignment_ScheduledEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.AssignedPositionShiftId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_JobPositionShift.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upcoming</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.ScheduledEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_JPAssignment_ScheduledEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.Created_From_Sign_Up_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.Volunteer_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>volunteerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_J_P_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Shifts_from_Job_Position</name>
        <label>Add Shifts from Job Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcvar_JobPositionShifts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Job_Position_Shift</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_JP_Assignment_Fields_from_Get_Job_Position_Shift</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Job_Position_Shifts</name>
        <label>Count Job Position Shifts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ShiftCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>rcvar_JobPositionShifts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>volunteerSignUp</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>How_many_Shifts</name>
        <label>How many Shifts?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Thank_You_Zero_Shift</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>0</defaultConnectorLabel>
        <rules>
            <name>Greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ShiftCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_You_1Plus_Shift</targetReference>
            </connector>
            <label>Greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Positions_Returned</name>
        <label>More than 2 Job Positions Returned?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Count_Job_Position_Shifts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>TwoPlusJobPositions</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_JobPositionCountFromVolunteerInitative</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Job_Position</targetReference>
            </connector>
            <label>Greater Than or Equal to Two Job Positions</label>
        </rules>
        <rules>
            <name>OneJobPosition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobPositionCountFromVolunteerInitative</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Single_Job_Position_from_Volunteer_Initiative</targetReference>
            </connector>
            <label>One Job Position</label>
        </rules>
        <rules>
            <name>Zero_Job_Positions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobPositionCountFromVolunteerInitative</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_JP_Assignment_Fields_from_Volunteer_Initiative</targetReference>
            </connector>
            <label>Zero Job Positions</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines the type of object that is being used for the inputID.</description>
        <name>Object_Reference</name>
        <label>What Object is Referenced in InputID?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Volunteer_Initiative</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Volunteer Initiative</defaultConnectorLabel>
        <rules>
            <name>Job_Position</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0yi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Job_Position</targetReference>
            </connector>
            <label>Job Position</label>
        </rules>
        <rules>
            <name>Job_Position_Shift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1Qy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Job_Position_Shift</targetReference>
            </connector>
            <label>Job Position Shift</label>
        </rules>
    </decisions>
    <description>This flow is created to enable a volunteer to sign up as a guest user for either a Volunteer Initiative, Job Position, or a Job Position Shift for an event driven volunteer activity.</description>
    <dynamicChoiceSets>
        <name>CollectionChoiceSet_JobPositionShift</name>
        <collectionReference>rcvar_JobPositionShifts</collectionReference>
        <dataType>String</dataType>
        <displayField>Start_and_End_DateTime__c</displayField>
        <object>JobPositionShift</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>jobPositionChoices</name>
        <collectionReference>Get_Job_Positions_from_Volunteer_Initiative</collectionReference>
        <dataType>String</dataType>
        <displayField>Title</displayField>
        <object>JobPosition</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>jobPositionShiftChoices_JobPosition</name>
        <collectionReference>Get_Job_Position_Shifts_from_Job_Position</collectionReference>
        <dataType>String</dataType>
        <displayField>Start_and_End_DateTime__c</displayField>
        <object>JobPositionShift</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>jobPositionShiftChoices_VolunteerInitiative_One</name>
        <collectionReference>Get_Job_Position_Shift_from_Volunteer_Initiative_One_JP</collectionReference>
        <dataType>String</dataType>
        <displayField>Start_and_End_DateTime__c</displayField>
        <object>JobPositionShift</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>jobPositionShiftChoices_VolunteerInitiative_TwoPlus</name>
        <collectionReference>Get_Job_Position_Shift_from_Volunteer_Initiative_Two_Plus_JP</collectionReference>
        <dataType>String</dataType>
        <displayField>Start_and_End_DateTime__c</displayField>
        <object>JobPositionShift</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formula_Email</name>
        <dataType>String</dataType>
        <expression>{!email}</expression>
    </formulas>
    <formulas>
        <name>formula_FirstName</name>
        <dataType>String</dataType>
        <expression>{!fName}</expression>
    </formulas>
    <formulas>
        <name>formula_JobPositionShift</name>
        <dataType>String</dataType>
        <expression>IF({!Job_Position},{!Get_Selected_JobPositionShift.Id},
IF({!Job_Position_Shift},{!Get_Job_Position_Shift.Id},
{!Get_Selected_JobPositionShift.Id}))</expression>
    </formulas>
    <formulas>
        <name>formula_JPAssignment_ActualDuration</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_Selected_JobPositionShift.Id}),{!var_JPAssignment_ActualDuration},{!Get_Selected_JobPositionShift.Default_Duration__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_JPAssignment_ScheduledEndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Get_Selected_JobPositionShift.EndDate})
+ &quot; &quot;
+ LEFT(TEXT({!Get_Selected_JobPositionShift.EndTime}),8))</expression>
    </formulas>
    <formulas>
        <name>formula_JPAssignment_ScheduledStartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Get_Selected_JobPositionShift.StartDate})
+ &quot; &quot;
+ LEFT(TEXT({!Get_Selected_JobPositionShift.StartTime}),8))</expression>
    </formulas>
    <formulas>
        <name>formula_LastName</name>
        <dataType>String</dataType>
        <expression>{!lName}</expression>
    </formulas>
    <interviewLabel>This flow is created to enable a volunteer to sign up as a guest user for either a Volunteer Initiative, Job Position, or a Job Position Shift for an event driven volunteer activity. {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>VMQS Sign Up Guest User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_J_P_Assignment</name>
        <label>Create J.P. Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>How_many_Shifts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>var_JobPositionAssignment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Job_Position</name>
        <label>Get Job Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job_Position_Shifts_from_Job_Position</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPosition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Position_Shift</name>
        <label>Get Job Position Shift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Add_Shifts_from_Job_Position</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPositionShift</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Position_Shift_from_Volunteer_Initiative_One_JP</name>
        <label>Get Job Position Shift from Volunteer Initiative One JP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Shifts_from_One_JP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JobPositionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Single_Job_Position_from_Volunteer_Initiative.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobPositionShift</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Position_Shift_from_Volunteer_Initiative_Two_Plus_JP</name>
        <label>Get Job Position Shift from Volunteer Initiative Two Plus JP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Shifts_from_Two_Plus_JP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JobPositionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>How_would_you_like_to_help</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobPositionShift</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Position_Shifts_from_Job_Position</name>
        <label>Get Job Position Shifts from Job Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Shifts_from_Job_Position</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JobPositionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobPositionShift</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Positions_from_Volunteer_Initiative</name>
        <label>Get Job Positions from Volunteer Initiative</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Job_Position_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VolunteerInitiativeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobPosition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Job_Position_from_Volunteer_Initiative</name>
        <label>Get Selected Job Position from Volunteer Initiative</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job_Position_Shift_from_Volunteer_Initiative_Two_Plus_JP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>How_would_you_like_to_help</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPosition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_JobPositionShift</name>
        <label>Get Selected JobPositionShift</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Shift_to_J_P_Assignment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobPositionShift_JobPosition</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Job_Position_Shift.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPositionShift</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Job_Position_from_Volunteer_Initiative</name>
        <label>Get Single Job Position from Volunteer Initiative</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job_Position_Shift_from_Volunteer_Initiative_One_JP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VolunteerInitiativeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Volunteer_Initiative.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPosition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Volunteer_Initiative</name>
        <label>Get Volunteer Initiative</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job_Positions_from_Volunteer_Initiative</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VolunteerInitiative</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;Something went wrong, please contact the person who sent you this link.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Job_Position</name>
        <label>Select Job Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Job_Position_from_Volunteer_Initiative</targetReference>
        </connector>
        <fields>
            <name>How_would_you_like_to_help</name>
            <choiceReferences>jobPositionChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How would you like to help?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_1Plus_Shift</name>
        <label>Thank You</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Text_General</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Thank you for completing your volunteer registration.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Success_Text_Shift</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;What:&lt;/strong&gt; {!var_JobPositionAssignment.JobPosition.Title}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;When: &lt;/strong&gt;{!var_JobPositionAssignment.ScheduledStartTime}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ShiftCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Zero_Shift</name>
        <label>Thank You</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Success_Text_General</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Thank you for completing your volunteer registration.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>volunteerSignUp</name>
        <label>Sign Up to Volunteer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_JobPositionShift</targetReference>
        </connector>
        <fields>
            <name>jobPositionShift_JobPosition</name>
            <choiceReferences>CollectionChoiceSet_JobPositionShift</choiceReferences>
            <dataType>String</dataType>
            <fieldText>When would you like to help?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ShiftCount</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>jobPositionShift_Single</name>
            <fieldText>&lt;p&gt;The shift you are registering for is {!Get_Job_Position_Shift.Start_and_End_DateTime__c}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ShiftCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen_firstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>formula_FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>screen_lastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>formula_LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>screen_email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>formula_Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Object_Reference</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcvar_JobPositionShifts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionShift</objectType>
    </variables>
    <variables>
        <name>var_JobPositionAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>var_JobPositionCountFromVolunteerInitative</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_JPAssignment_ActualDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_JPAssignmnet_ActualStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ShiftCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>volunteerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
