force-app/main/default/flows/VMQS_Send_Shift_Reminders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <decisions>
        <name>Decision_Shifts_Tomorrow</name>
        <label>Any Shifts Tomorrow?</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <defaultConnector><targetReference>Screen_End_No_Shifts</targetReference></defaultConnector>
        <defaultConnectorLabel>No Shifts</defaultConnectorLabel>
        <rules>
            <name>outcome_HasShifts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colTomorrowsShifts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector><targetReference>Loop_Shifts</targetReference></connector>
            <label>Has Shifts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Has_Assignments</name>
        <label>Any Upcoming Assignments?</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <defaultConnector><targetReference>Loop_Shifts</targetReference></defaultConnector>
        <defaultConnectorLabel>No Assignments</defaultConnectorLabel>
        <rules>
            <name>outcome_HasAssignments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colShiftAssignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector><targetReference>Get_JobPosition</targetReference></connector>
            <label>Has Assignments</label>
        </rules>
    </decisions>
    <description>Runs daily at 8 AM. Queries all JobPositionShifts starting tomorrow with Upcoming assignments and sends a reminder email to each assigned volunteer. Logs a Task on the volunteer&apos;s Contact record.</description>
    <formulas>
        <name>frmTomorrow</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>frmEmailBody</name>
        <dataType>String</dataType>
        <expression>"&lt;p&gt;Hi " &amp; {!Loop_Assignments.AssignedContact.Name} &amp; ",&lt;/p&gt;&lt;p&gt;This is a friendly reminder that you have a volunteer shift coming up tomorrow!&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Event:&lt;/strong&gt; " &amp; {!recInitiative.Name} &amp; "&lt;br/&gt;&lt;strong&gt;Shift:&lt;/strong&gt; " &amp; {!Loop_Shifts.Start_and_End_DateTime__c} &amp; "&lt;/p&gt;&lt;p&gt;We&apos;re looking forward to seeing you. If you need to cancel or reschedule, please log in to the volunteer portal.&lt;/p&gt;&lt;p&gt;Thank you for your time and dedication!&lt;/p&gt;"</expression>
    </formulas>
    <interviewLabel>VMQS Send Shift Reminders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VMQS - Send Shift Reminders</label>
    <loops>
        <name>Loop_Shifts</name>
        <label>Loop Through Tomorrow&apos;s Shifts</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <collectionReference>colTomorrowsShifts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector><targetReference>Get_Assignments_For_Shift</targetReference></nextValueConnector>
        <noMoreValuesConnector><targetReference>Loop_Assignments</targetReference></noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Assignments</name>
        <label>Loop Through Assignments</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <collectionReference>colShiftAssignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector><targetReference>Send_Reminder_Email</targetReference></nextValueConnector>
        <noMoreValuesConnector><targetReference>Loop_Shifts</targetReference></noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Reminder_Task</name>
        <label>Log Reminder Activity on Contact</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <connector><targetReference>Loop_Assignments</targetReference></connector>
        <inputAssignments>
            <field>Subject</field>
            <value><stringValue>Shift Reminder Sent</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value><stringValue>Completed</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value><elementReference>frmTomorrow</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value><elementReference>Loop_Assignments.AssignedContactId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value><elementReference>frmEmailBody</elementReference></value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Tomorrows_Shifts</name>
        <label>Get Tomorrow&apos;s Shifts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Decision_Shifts_Tomorrow</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value><elementReference>frmTomorrow</elementReference></value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value><stringValue>In Progress</stringValue></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobPositionShift</object>
        <outputReference>colTomorrowsShifts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>JobPositionId</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>StartTime</queriedFields>
        <queriedFields>EndTime</queriedFields>
        <queriedFields>Start_and_End_DateTime__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignments_For_Shift</name>
        <label>Get Upcoming Assignments for Shift</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Decision_Has_Assignments</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>AssignedPositionShiftId</field>
            <operator>EqualTo</operator>
            <value><elementReference>Loop_Shifts.Id</elementReference></value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value><stringValue>Upcoming</stringValue></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobPositionAssignment</object>
        <outputReference>colShiftAssignments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssignedContactId</queriedFields>
        <queriedFields>AssignedContact.Name</queriedFields>
        <queriedFields>AssignedContact.Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_JobPosition</name>
        <label>Get Job Position</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Get_Initiative</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>Loop_Shifts.JobPositionId</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPosition</object>
        <outputReference>recJobPosition</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>VolunteerInitiativeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Initiative</name>
        <label>Get Volunteer Initiative</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Loop_Assignments</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>recJobPosition.VolunteerInitiativeId</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VolunteerInitiative</object>
        <outputReference>recInitiative</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Screen_End_No_Shifts</name>
        <label>No Shifts Tomorrow</label>
        <locationX>396</locationX>
        <locationY>374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_NoShifts</name>
            <fieldText>&lt;p&gt;No shifts found for tomorrow. No reminders sent.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <actionCalls>
        <name>Send_Reminder_Email</name>
        <label>Send Reminder Email</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector><targetReference>Log_Reminder_Task</targetReference></connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value><elementReference>Loop_Assignments.AssignedContact.Email</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value><stringValue>Reminder: Your Volunteer Shift is Tomorrow</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value><elementReference>frmEmailBody</elementReference></value>
        </inputParameters>
    </actionCalls>
    <steps>
        <name>End_Flow</name>
        <label>End</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
    </steps>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Get_Tomorrows_Shifts</targetReference></connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2026-06-18</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colTomorrowsShifts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionShift</objectType>
    </variables>
    <variables>
        <name>colShiftAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>recJobPosition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPosition</objectType>
    </variables>
    <variables>
        <name>recInitiative</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VolunteerInitiative</objectType>
    </variables>
</Flow>
