force-app/main/default/flows/VMQS_Authenticated_Reschedule_Shift.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <decisions>
        <name>Decision_Has_Assignments</name>
        <label>Has Upcoming Shifts?</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <defaultConnector><targetReference>Screen_No_Assignments</targetReference></defaultConnector>
        <defaultConnectorLabel>No Shifts</defaultConnectorLabel>
        <rules>
            <name>outcome_HasAssignments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colMyAssignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector><targetReference>Screen_Select_Current_Shift</targetReference></connector>
            <label>Has Shifts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_New_Shifts_Available</name>
        <label>New Shifts Available?</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <defaultConnector><targetReference>Screen_No_New_Shifts</targetReference></defaultConnector>
        <defaultConnectorLabel>No Shifts</defaultConnectorLabel>
        <rules>
            <name>outcome_NewShiftsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colAvailableShifts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector><targetReference>Screen_Select_New_Shift</targetReference></connector>
            <label>Has Shifts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Capacity_Check</name>
        <label>New Shift Has Capacity?</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <defaultConnector><targetReference>Screen_At_Capacity</targetReference></defaultConnector>
        <defaultConnectorLabel>At Capacity</defaultConnectorLabel>
        <rules>
            <name>outcome_HasCapacity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recNewShift.RemainingCapacity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue><numberValue>0</numberValue></rightValue>
            </conditions>
            <connector><targetReference>Screen_Confirm_Swap</targetReference></connector>
            <label>Has Capacity</label>
        </rules>
    </decisions>
    <description>Allows authenticated portal volunteers to reschedule by swapping their current upcoming shift for a different available one. Cancels the old assignment and creates a new one after confirmation.</description>
    <dynamicChoiceSets>
        <name>choiceMyAssignments</name>
        <collectionReference>colMyAssignments</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>JobPositionAssignment</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceAvailableShifts</name>
        <collectionReference>colAvailableShifts</collectionReference>
        <dataType>String</dataType>
        <displayField>Start_and_End_DateTime__c</displayField>
        <object>JobPositionShift</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>VMQS Authenticated Reschedule Shift {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VMQS - Authenticated Reschedule Shift</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Assignment</name>
        <label>Create New Assignment</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <connector><targetReference>Cancel_Old_Assignment</targetReference></connector>
        <inputAssignments>
            <field>AssignedContactId</field>
            <value><elementReference>$User.ContactId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>AssignedPositionShiftId</field>
            <value><elementReference>pick_NewShift</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value><stringValue>Upcoming</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>DoesCountTowardShiftCapacity</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
        <object>JobPositionAssignment</object>
    </recordCreates>
    <recordLookups>
        <name>Get_My_Assignments</name>
        <label>Get My Upcoming Assignments</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Decision_Has_Assignments</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>AssignedContactId</field>
            <operator>EqualTo</operator>
            <value><elementReference>$User.ContactId</elementReference></value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value><stringValue>Upcoming</stringValue></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobPositionAssignment</object>
        <outputReference>colMyAssignments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ScheduledStartTime</queriedFields>
        <queriedFields>AssignedPositionShiftId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Available_Shifts</name>
        <label>Get Available Shifts</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Decision_New_Shifts_Available</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value><stringValue>In Progress</stringValue></value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value><elementReference>recCurrentAssignment.AssignedPositionShiftId</elementReference></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JobPositionShift</object>
        <outputReference>colAvailableShifts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Start_and_End_DateTime__c</queriedFields>
        <queriedFields>RemainingCapacity</queriedFields>
        <queriedFields>MaximumAttendeesCount</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Assignment_Detail</name>
        <label>Get Current Assignment Detail</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Get_Available_Shifts</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>pick_CurrentAssignment</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPositionAssignment</object>
        <outputReference>recCurrentAssignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AssignedPositionShiftId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Shift_Detail</name>
        <label>Get New Shift Capacity</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Decision_Capacity_Check</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>pick_NewShift</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPositionShift</object>
        <outputReference>recNewShift</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Start_and_End_DateTime__c</queriedFields>
        <queriedFields>RemainingCapacity</queriedFields>
        <queriedFields>MaximumAttendeesCount</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Old_Assignment</name>
        <label>Cancel Old Assignment</label>
        <locationX>176</locationX>
        <locationY>1454</locationY>
        <connector><targetReference>Screen_Confirmation</targetReference></connector>
        <filterLogic>AND</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>pick_CurrentAssignment</elementReference></value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value><stringValue>Canceled</stringValue></value>
        </inputAssignments>
        <object>JobPositionAssignment</object>
    </recordUpdates>
    <screens>
        <name>Screen_No_Assignments</name>
        <label>No Upcoming Shifts</label>
        <locationX>396</locationX>
        <locationY>374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_NoAssignments</name>
            <fieldText>&lt;p&gt;You don&apos;t have any upcoming shifts to reschedule. Visit the Sign Up page to register for a shift.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Current_Shift</name>
        <label>Select Shift to Reschedule</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector><targetReference>Get_Current_Assignment_Detail</targetReference></connector>
        <fields>
            <name>txt_SelectCurrentHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Reschedule a Shift&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Select the shift you would like to reschedule.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pick_CurrentAssignment</name>
            <choiceReferences>choiceMyAssignments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Current Shift</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_No_New_Shifts</name>
        <label>No Other Shifts Available</label>
        <locationX>396</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_NoNewShifts</name>
            <fieldText>&lt;p&gt;There are no other shifts available to swap to right now. Please check back later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_New_Shift</name>
        <label>Select New Shift</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector><targetReference>Get_New_Shift_Detail</targetReference></connector>
        <fields>
            <name>txt_SelectNewHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Choose a New Shift&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Select the shift you&apos;d like to switch to.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pick_NewShift</name>
            <choiceReferences>choiceAvailableShifts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Shift</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_At_Capacity</name>
        <label>Shift Full</label>
        <locationX>396</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_AtCapacity</name>
            <fieldText>&lt;p&gt;Sorry, this shift is now full. Please go back and select a different shift.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Confirm_Swap</name>
        <label>Confirm Shift Swap</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector><targetReference>Create_New_Assignment</targetReference></connector>
        <fields>
            <name>txt_ConfirmSwap</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Confirm Your Reschedule&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Switching to:&lt;/strong&gt; {!recNewShift.Start_and_End_DateTime__c}&lt;/p&gt;&lt;p&gt;Your current shift will be cancelled and you will be signed up for the new one. Click Next to confirm, or Back to go back.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Confirmation</name>
        <label>Shift Rescheduled</label>
        <locationX>176</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;You&apos;re all set!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Your shift has been rescheduled to {!recNewShift.Start_and_End_DateTime__c}. Your previous shift has been cancelled.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Get_My_Assignments</targetReference></connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colMyAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>colAvailableShifts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionShift</objectType>
    </variables>
    <variables>
        <name>recCurrentAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>recNewShift</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JobPositionShift</objectType>
    </variables>
</Flow>
