force-app/main/default/flows/VMQS_Sign_Up_Guest_User_Volunteer_Handling.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Existing_Update_J_P_Assignment</name>
        <label>Update J.P. Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.AssignedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Person_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job_Position_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Update_J_P_Assignment</name>
        <label>Update J.P. Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_JobPositionAssignment.AssignedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upsert_PersonAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job_Position_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PersonAccount_Fields</name>
        <label>Update PersonAccount Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_PersonAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PersonAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PersonAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Person_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Volunteer_ID_Provided</name>
        <label>Was a Volunteer ID provided?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_PersonAccount_RecordTypeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - New Record</defaultConnectorLabel>
        <rules>
            <name>Existing_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>volunteerId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PersonAccount</targetReference>
            </connector>
            <label>Yes - Existing Record</label>
        </rules>
    </decisions>
    <description>This flow is a subflow to the Sign Up Guest User flow to handle Account lookups and creation. This was prevent the Guest Users from needing any access the Account object or any Account records specifically.</description>
    <environments>Default</environments>
    <interviewLabel>VMQS Sign Up Guest User - Volunteer Handling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VMQS Sign Up Guest User - Volunteer Handling</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Upsert_PersonAccount</name>
        <label>Upsert PersonAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Update_J_P_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>fName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>lName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_PersonAccount_RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_PersonAccount</name>
        <label>Get PersonAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PersonAccount_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>volunteerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PersonAccount_RecordTypeId</name>
        <label>Get PersonAccount RecordTypeId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upsert_PersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>LastModifiedById</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_Position_Assignment</name>
        <label>Update Job Position Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>var_JobPositionAssignment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_Account</name>
        <label>Update Person Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Existing_Update_J_P_Assignment</targetReference>
        </connector>
        <inputReference>Get_PersonAccount</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Volunteer_ID_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_JobPositionAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>JobPositionAssignment</objectType>
    </variables>
    <variables>
        <name>volunteerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
